/* 랜딩 */
.landing { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #222; z-index: 20; transition: 0.5s;  }
.landing img {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); animation: landing 1s ease-out infinite; }

@keyframes landing{
    0% {top: 50%;}
    50% {top: 60%;}
    100% {top: 50%}
}
.landing.hide{visibility: hidden; opacity: 0;}


/* home */
.home { margin: 0 auto; height: 100vh; display: flex; align-items: center; justify-content: center; padding: 0 200px;}

.home .main_txt{ width: 50%;}
.home .main_txt h2{ font-size: 50px; font-family: 'Montserrat', sans-serif; font-weight: 500;}
.home .main_txt h2 img{width: 55px; animation: motion01 2.5s infinite; }
@-webkit-keyframes motion01 {0% {transform: rotate(0deg)}20% {transform: rotate(13deg)}24% {transform: rotate(-13deg)}28% {transform: rotate(13deg)}32% {transform: rotate(-13deg)}36% {transform: rotate(0deg)}}
@keyframes motion01 {0% {transform: rotate(0deg)}20% {transform: rotate(13deg)}24% {transform: rotate(-13deg)}28% {transform: rotate(13deg)}32% {transform: rotate(-13deg)}36% {transform: rotate(0deg)}}

.home .main_txt p{ font-size: 30px; line-height: 1.4; padding: 30px 0; opacity: 0.7;}

.home .main_img {width: 50%;  display: flex; justify-content: space-between; flex-wrap: wrap; }
.home .main_img img{ width: calc(50% - 40px); }

.home .main_img img:nth-child(1){animation:emoji01 5s 3s 2 ease-in-out alternate; } 
.home .main_img img:nth-child(2){animation:emoji02 5s 3s 2 ease-in-out alternate; }
.home .main_img img:nth-child(3){animation:emoji03 5s 3s 2 ease-in-out alternate; }
.home .main_img img:nth-child(4){animation:emoji04 5s 3s 2 ease-in-out alternate;  }
@keyframes emoji01 {
    0%{transform: translateY(0px); }
    50%{transform: translateX(350px) scale(0.7) rotate(70deg); } 
    80%{transform: translateY(350px) rotate(-20deg);}
    100%{transform: translateY(0px) scale(1.5) ;}
}
@keyframes emoji02 {
    0%{transform: translateY(0px);}
    50%{transform: translateY(350px) scale(0.7) rotate(70deg);} 
    80%{transform: translateX(-350px) rotate(-20deg);}
    100%{transform: translateY(0px) scale(1.5);}
}
@keyframes emoji03 {
    0%{transform: translateY(0px);}
    50%{transform: translateY(-350px) scale(0.7) rotate(70deg);} 
    80%{transform: translateX(350px) rotate(-20deg);}
    100%{transform: translateY(0px) scale(1.5);}
}
@keyframes emoji04 {
    0%{transform: translateY(0px);}
    50%{transform: translateX(-350px) scale(0.7) rotate(170deg);} 
    80%{transform: translateY(-350px) rotate(-20deg);}
    100%{transform: translateY(0px) scale(1.5);}
}




/* profile */
.profile {margin-top: 200px; padding: 0 200px; margin: 0 auto; }

.profile .about_area{ text-align: center; padding-bottom: 80px;}
.profile .about_area p{ font-size: 22px; line-height: 1.7; }
.profile .about_area p span{position: relative;}
.profile .about_area p span::after{ content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 10px; background: var(--blue);}
.profile .about_area p span i{ position: relative; z-index: 1;}


.profile .intro_area{ display: inline-flex; justify-content: space-between;}
.profile .intro_area .img_wrap{ width: calc(50% - 50px);}
.profile .intro_area .img_wrap img{width: 100%; height: 100%; object-fit: cover; border-radius: 10px;}

.profile .intro_area .txt_wrap{ width: calc(50% - 50px); display: flex; flex-direction: column; justify-content: center;}
.profile .intro_area .txt_wrap strong:first-of-type{margin-top: 0;}

.profile .intro_area .txt_wrap strong{ display: block; font-weight:400; font-family: 'Poppins', sans-serif; font-size: 26px; margin-top: 30px;} 
.profile .intro_area .txt_wrap ul{ display: block; font-size: 18px; line-height: 1.5; opacity: 0.8; margin-top: 20px; padding-left: 20px;}





/* skills */
.skills{margin-top: 200px; padding: 0 200px;}

.skills ul{ margin: 0 auto; display: flex; justify-content: space-between; flex-wrap: wrap;}
.skills ul li{ width: calc(50% - 20px); background: var(--blue); border-radius: 10px; padding: 30px; margin-bottom: 40px; box-shadow: 0px 0px 20px -1px rgb(21 100 248 / 66%); transition: 0.5s;}
.skills ul li:hover{transform: translateY(-10%);}

.skills ul li strong{ display: block;  font-size: 20px; margin-bottom: 20px;}
.skills ul li strong i{ color:#fff; font-weight: bold; margin-right: 10px;}
.skills ul li p{line-height: 1.5; }




/* portfolio */
.portfolio { margin-top: 200px; padding: 0 200px;  margin: 0 auto;}

.portfolio ul {display:flex; justify-content: space-between; flex-wrap: wrap;}
/*   */
.portfolio ul li {width: calc(( 100% - 20px)/2); border-radius: 10px; overflow: hidden; margin-top: 20px; position: relative;} /**/


.portfolio ul li > a{display: block; width: 100%; height: 100%;}
.portfolio ul li .img_wrap{ }
.portfolio ul li .img_wrap img{width: 100%; height: 100%; object-fit: cover; }

.portfolio ul li .txt_wrap{ position: absolute; top: 0; left: 0%; padding-right: 20px; color: #fff; width: 100%; height: 100%;  opacity: 0; transition: 0.5s; z-index: 2; background:var(--blue); visibility: hidden; }

.portfolio ul li .txt_wrap::before{content: ""; top: 0; left: -100%; bottom: 0; right: 0;  position: absolute; width: 100%; height: 100%; background: #fff;}
.portfolio ul li .txt_wrap::after{content: ""; top: 0; left: -100%; bottom: 0; right: 0;  position: absolute; width: 100%; height: 100%; background: #f00;}


.portfolio ul li .txt_wrap strong{position: absolute; top: 20%; left: 50%; transform:translateX(-50%); font-weight: 500; text-align: center; line-height: 40px;  font-size: 30px; z-index: 4;}
.portfolio ul li .txt_wrap .more{position: absolute; top: 70%; left: 50%; transform:translateX(-50%); background: #fff; color:var(--blue); }
.portfolio ul li .txt_wrap .more span{background: var(--blue); color:#fff; }
/*hover*/
.portfolio ul li:hover .txt_wrap{ visibility: visible; opacity: 1;}




/*contact*/
.contact {margin-top: 200px; text-align: center;}
.contact .info{display: flex; flex-direction: column; align-items: center;}
.contact .info img{ width: 200px; margin-bottom: 50px;}
.contact .info p{line-height: 1.5; margin-bottom: 40px; font-size: 20px; }
.contact .info .tel{font-size: 30px; margin-bottom: 20px; }
.contact .info .email{ font-size:30px;  margin-bottom: 20px;}
.contact .info .desc{opacity: 0.6;}

.contact .copy { text-align: center; font-family: 'Montserrat', sans-serif; padding: 100px 0 20px 0; color: #858585;}
