/* 랜딩 */
/*
  가장중요한 조건
  가로스롤은 절대 생기면 안된다.
  가로스크롤이 생기는이유는
  - 위드가 살이있는영역 ex)1200 1000px
  - absolute ->부모한테 무조건 overflow hidden을 줘야됨
  모바일 확인은 최고 작은 사이즈인 320 (크롬모바일 아이폰se) 확인시 잘나오묜 끝.
 */

/* 실콘텐츠 + 100 */
/* 1300 */

@media screen and (max-width: 1300px) { /*작은사이즈px 0~1300*/
    .home{max-width: 1310px; padding: 0 20px;}
    .profile{max-width: 100%;  padding: 0 20px;}
    .portfolio{ max-width: 100%;  padding: 0 20px;}

   } /*   //  1300px */












/*테블릿*/
    @media screen and (max-width: 1024px) { /*769사이즈로보기*/
        header h1  {font-size: 20px; }
        header .gnb ul li {font-size: 15px;}

        .home{width: 100%; display: list-item; justify-content: center; align-items: center;
            margin-top: 150px;}
        .home .main_txt {width: 100%; text-align: center;}
        .home .main_txt h2{font-size: 32px;}
        .home .main_txt h2 img { width: 30px; }
        .home .main_txt p { font-size: 20px;}
        .more{padding: 7px 11px; font-size: 10px;}

        .home .main_img {width: 50%; margin: 0 auto;}
        .home .main_img img { width: calc(50% - 20px);}
        @keyframes emoji01 {
            0%{transform: translateY(0px); }
            50%{transform: translateX(150px) scale(0.7) rotate(70deg); } 
            80%{transform: translateY(150px) rotate(-20deg);}
            100%{transform: translateY(0px) scale(1.5) ;}
        }
        @keyframes emoji02 {
            0%{transform: translateY(0px);}
            50%{transform: translateY(150px) scale(0.7) rotate(70deg);} 
            80%{transform: translateX(-150px) rotate(-20deg);}
            100%{transform: translateY(0px) scale(1.5);}
        }
        @keyframes emoji03 {
            0%{transform: translateY(0px);}
            50%{transform: translateY(-150px) scale(0.7) rotate(70deg);} 
            80%{transform: translateX(150px) rotate(-20deg);}
            100%{transform: translateY(0px) scale(1.5);}
        }
        @keyframes emoji04 {
            0%{transform: translateY(0px);}
            50%{transform: translateX(-150px) scale(0.7) rotate(170deg);} 
            80%{transform: translateY(-150px) rotate(-20deg);}
            100%{transform: translateY(0px) scale(1.5);}
        }
        h2.title { font-size: 32px; margin-bottom: 30px;}
        h2.title img { width: 65px;}

        .profile {margin-top: 100px; }
        .profile .about_area p { font-size: 16px;}
        .profile .intro_area .img_wrap {width: calc(50% - 20px);}
        .profile .intro_area .txt_wrap {width: calc(50% - 20px);}
        .profile .intro_area .txt_wrap strong {font-size: 22px; margin-top: 15px;}
        .profile .intro_area .txt_wrap ul {font-size: 15px; line-height:2;}


        .skills ul {padding: 0 20px; }

        .portfolio {margin-top: 200px;}
        .portfolio ul {width: 100%; flex-direction: column;}
        .portfolio ul li {width: 100%;}


    } /*   //  1024px */








/*모바일*/
    @media screen and (max-width: 768px) { /*320기준으로포커스맞추기*/
    header h1{ top: 20px; left: 10px;}
    header::before {}
    header .gnb {top: 70px; left:10px;}
    header .gnb ul li {padding-left:0; padding-right: 10px; font-size: 12px;}

    .home{max-width: 768px; }


    .home .main_txt h2 {font-size: 25px;}

    .home .main_txt p { font-size: 16px; line-height: 1.6; padding: 20px 0;}
    .home .main_img {margin-top: 50px; width: 100%;}
    @keyframes emoji01 {
        0%{transform: translateY(0px); }
        50%{transform: translateX(50px) scale(0.5) rotate(70deg); } 
        80%{transform: translateY(50px) rotate(-20deg);}
        100%{transform: translateY(0px) scale(1.2) ;}
    }
    @keyframes emoji02 {
        0%{transform: translateY(0px);}
        50%{transform: translateY(50px) scale(0.5) rotate(70deg);} 
        80%{transform: translateX(-50px) rotate(-20deg);}
        100%{transform: translateY(0px) scale(1.2);}
    }
    @keyframes emoji03 {
        0%{transform: translateY(0px);}
        50%{transform: translateY(-50px) scale(0.5) rotate(70deg);} 
        80%{transform: translateX(50px) rotate(-20deg);}
        100%{transform: translateY(0px) scale(1.2);}
    }
    @keyframes emoji04 {
        0%{transform: translateY(0px);}
        50%{transform: translateX(-50px) scale(0.5) rotate(170deg);} 
        80%{transform: translateY(-50px) rotate(-20deg);}
        100%{transform: translateY(0px) scale(1.2);}
    }
    .home .main_img img {width: calc(50% - 5px);}

    

    .profile {padding: 0 10px; max-width: 768px}
    h2.title { font-size: 22px; line-height: 1.4;}
    h2.title img { width: 55px;}
    .profile .about_area p { font-size: 12px;}
    .profile .intro_area {display: list-item; }
    .profile .intro_area .img_wrap {width: 100%;}
    .profile .intro_area .txt_wrap {width: 100%; margin-top: 20px; text-align: center;}
    .profile .intro_area .txt_wrap strong {font-size: 17px; margin-top: 10px;}
    .profile .intro_area .txt_wrap ul {  font-size: 12px;}
    

    .skills {padding-top: 100px; }
    .skills ul {padding: 0 10px; text-align: center;}
    .skills ul li {width: 100%; margin-bottom:20px; padding: 15px;}
    .skills ul li strong {font-size: 18px;}
    .skills ul li p {font-size: 14px;}

    .portfolio {padding: 0 10px; margin-top: 100px; max-width: 768px}
    .portfolio ul li .txt_wrap strong {font-size: 18px ; line-height: 30px; top: 20%;}
    .portfolio ul li .txt_wrap .more {top: 60%;}

    .contact{ margin-top: 100px; padding: 0 10px;}
    .contact .info p {font-size: 15px;}
    .contact .info .tel { font-size: 25px;}
    .contact .info .email  { font-size: 25px;}
    .contact .info .desc {font-size: 13px;}
    .contact .copy {font-size: 11px; line-height: 1.2;}



  }/*   //  768px */