/* common */

.blind{
    position: absolute;
    overflow: hidden;
    width: 1px; height: 1px;
    margin: -1px;
    clip: rect(0,0,0,0);
}

.clear{
    content: " ";
    clear: both;
    display: block;
}

.inner{ width: 1200px; margin: 0 auto;}

.more{ position: relative;  display: block; font-size: 16px;  font-family: 'Montserrat', sans-serif;  font-weight: bold; width:150px; height:50px; border-radius:5px; color: #4a4947; line-height: 50px; padding-left: 10px;  background: #fff; box-shadow:0px 3px 11px rgb(0 0 0 / 16%); transition:  background 0.5s, color 0.5s;  }
.more:hover { background: #4a4947; color:#fff; }