/* 반응형 */
/*  common */

.blind {
    width: 1px; height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    clip:rect(0,0,0,0);
}

.clear{
    content:"";
    clear: both;
    display: block;
}

.ani{ 
    transform: rotate(5deg) translateY(50%) ; opacity: 0;
}
.ani02 {
    transform: translateX(-100px); opacity: 0; 
}