/* 반응형 */
/* layout  */
/*   font-family: 'Londrina Shadow', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;   */

body{
    font-family: 'Noto Sans KR', sans-serif;
    color:#222;
    font-size:16px;
    letter-spacing :-0.025em; 
    background: #fff;
}

/*header*/
header{}
.header {position:fixed; top: 0; width: 100%; padding: 10px 100px; color:#fff; z-index: 10; }/*z-index*/
.header.on { background: #be161e; transition: background 1s; }
.header h1{float:left; width: 107px; height: 41px; background:url(../images/logo.png) no-repeat;  background-size: 100%; margin-top: 4px;  }
.header h1 a{ display: block; height: 100%; }
.header .user_nav{ float:right; overflow: hidden; line-height: 50px; }
.header .user_nav::after{ content:""; clear:both; display: block; }
.header .login_area{ overflow: hidden;  float: left;}
.header .login_area li{ float: left; margin-right: 20px; font-family: 'Montserrat', sans-serif;}
.header .login_area li a { }
.header .gnb {float:left; padding-top: 15px; }
.header .gnb .menu_btn{  width: 25px;height: 20px; position: relative; margin-left: 30px;cursor:pointer; }
.header .gnb .menu_btn::before{ content:""; position:absolute; top: -10px; right: 50px; width: 1px; height: 50px;  background:#fff; cursor:none; }
.header .gnb .menu_btn i {background: white; position: absolute; right: 0; left: 0; top: 0;
    display: block; width: 25px; height: 3px; transition: all 0.3s ease-in-out;}
.header .gnb .menu_btn i:nth-of-type(2) { top: 9px;  width: 20px;}
.header .gnb .menu_btn i:nth-of-type(3) { top: 18px;  }
.header .gnb .menu_btn.active i:nth-of-type(1){top: 9px; transform: rotateZ(45deg );}
.header .gnb .menu_btn.active i:nth-of-type(2){ opacity:0; }
.header .gnb .menu_btn.active i:nth-of-type(3){top: 9px; transform: rotateZ(-45deg );}

header .menu_nav { position: fixed; top: 0px; left: 0; right: 0; background: #222; width: 100%; height: 100vh; z-index: 9; visibility: hidden; opacity: 0; color: #fff;  display: flex; align-items: center; justify-content: center; transition: 0.5s; } 
header .menu_nav.on{ visibility: visible; opacity: 1;} /*on*/

header .menu_con{overflow: hidden; }
header .menu_con .menu_list{ float: left; font-size:40px; font-family: 'Montserrat', sans-serif; }
header .menu_con .menu_list li{ padding-bottom: 20px; }
header .menu_con .menu_list li:last-child(){ padding-bottom: 0px; }
header .menu_con .menu_list li a::after{ content:""; display: block; width: 0px; height: 1px; background: #be161e; transition: 0.6s; }
header .menu_con .menu_list li a:hover::after{ width:100%;}
header .menu_con .menu_list li a{display: inline-block; }
header .menu_con .sns_wrap{ float: right;}
header .menu_con .sns_wrap li{ transition:opacity 0.5s; padding:20px 0 20px 50px;}
header .menu_con .sns_wrap li:hover{ opacity: 0.5; }
header .menu_con .sns_wrap li a{}




/* footer */
footer { background: #000; padding-top: 100px; color:#858585 ;}
footer .foot_con { margin: 0 auto; max-width: 1200px; overflow: hidden; }
footer .foot_con h2{float:left; width: 107px; height: 41px; background:url(../images/foot_logo.png) no-repeat;  background-size: 100%; background-position:center center ;  }
footer .foot_con h2 a{ display: block; height: 100%; }

.foot_con .foot_link {float: left;  padding-left: 150px; }
.foot_con .foot_link li {line-height: 30px; position: relative; transition: 0.5s; }
.foot_con .foot_link li::before{ content:""; width: 0px; height: 0px;display:inline-block;background:#be161e; border-radius: 50px; vertical-align: middle;  }
.foot_con .foot_link li:hover {color:#a7a7a7}
.foot_con .foot_link li:hover::before { content:""; width: 3px; height: 3px; display:inline-block; background: #be161e; border-radius: 50px; vertical-align: middle; margin-right: 5px; }

.foot_con .info{ float: right;  }
.foot_con .info .tel {line-height: 30px; }
.foot_con .info .tel a{ display: block; color: #fff;  font-family: 'Montserrat', sans-serif; font-size: 20px; line-height: 40px;}
.foot_con .info .foot_sns { overflow: hidden;}
.foot_con .info .foot_sns li{ float: left; padding: 20px 0; margin-right: 20px;}
.foot_con .info .foot_sns li:last-child{margin-right: 0px;}
.foot_con .info .foot_sns li a{}
.foot_con .info .copy{ font-size: 14px; font-family: 'Montserrat', sans-serif; padding-top: 20px; }

footer .foot_nav{ overflow: hidden; text-align: center; padding-top: 100px; padding-left: 1px;}
footer .foot_nav li{ width: 25%; float: left; border:1px solid #be161e; padding: 20px 0; color: #fff; opacity: 0.5; transition: 0.5s; margin-left: -1px;}
footer .foot_nav li:last-child{ width: calc( 25% + 3px);}
footer .foot_nav li:hover{ opacity: 1;}
footer .foot_nav li a{ display: block;}