/* 반응형 */
/* main  */

/* main_slide_wrap  */
.main_slide_wrap { position: relative;}
.main_slide_wrap .main_vis {  position: relative;}
.main_vis .swiper-slide { height: 100vh; }
.main_vis .swiper-slide img{ width: 100%; height: 100%; object-fit: cover;}
.main_vis .swiper-slide .txt_wrap{ position: absolute; top: 40%; right: 10%; color: #fff; background:rgba(0,0,0,0.5); padding: 20px 20px; ; }
.main_vis .swiper-slide .txt_wrap h2{ font-size: 14px; }
.main_vis .swiper-slide .txt_wrap h2::before{ content:""; width: 3px; height: 14px; background: #be161e;  display: inline-block; vertical-align: middle; margin-right: 5px;  }
.main_vis .swiper-slide .txt_wrap em{font-family: 'Poppins', sans-serif; font-size: 60px; display: block; padding: 10px 0 20px; font-weight: bold; }
.main_vis .swiper-slide .txt_wrap p {line-height: 30px; font-size: 17px; font-weight: 300; }

.main_vis .swiper-slide .price_wrap{ position: absolute; bottom: 0; left: 0;  background: #fff;  width: 70%; padding: 40px 20px 40px 100px; }
.main_vis .swiper-slide .price_wrap em{ display: block; color: #bebcbc; margin-bottom: 10px; font-size: 14px;}
.main_vis .swiper-slide .price_wrap strong{display: inline-block; margin-right: 10px; font-weight: 500;}
.main_vis .swiper-slide .price_wrap strong span{font-size: 20px; color:#b59371; font-family: 'Poppins', sans-serif; font-weight: bold;}

.main_vis .btn_wrap{position: absolute; bottom: 124px; left: 100px; z-index: 3;  } /*z-index*/
.main_vis .btn_wrap .btn{ background: #eee;  font-size: 25px; display: inline-block; margin: -2px;text-align: center; line-height: 40px; color: #858585;}
.main_vis .btn_wrap .btn:hover{ color: #be161e; }
.main_vis .btn_wrap .btn.prev{width: 40px; height: 40px; }
.main_vis .btn_wrap .btn.next{width: 40px; height: 40px; }
.main_vis .swiper-button-disabled{ opacity: 0.8;}
.main_vis .swiper-pagination-bullet{visibility: hidden; }

.main_vis .scroll_box{ width: 30%; position: absolute; bottom: 0; right: 0; padding: 3% 0 3% 9%; transition: opacity 1s;  z-index: 3; } /*z-index*/
.main_vis .scroll_box::before{content:""; display: block; width: 70px; height: 1px; background: #be161e; position:absolute; top:50%; left: -70px; transform: translateY(-50%); } /*bar*/
.main_vis .scroll_box::after{ content:""; display: block; width: 70px; height: 1px; background: #fff; position:absolute; top:50%; left: 0; transform: translateY(-50%); } /*bar*/
.main_vis .scroll_box:hover {opacity: 0.5; cursor: pointer;}
.main_vis .scroll_wrap{ position:absolute; top: 50%; left: 20%; transform: translateY(-50%); }
.main_vis  .scroll_wrap .icon{ position: relative; display: block; width: 28px; height: 40px; border: 2px solid #fff;  border-radius: 50px;}
.main_vis  .scroll_wrap .icon::before{ content:""; width: 3px; height: 8px; background: #fff; position: absolute; top: 0%; left: 50%; transform: translate(-50%,-50%);  animation: scroll 1s infinite;
    animation-timing-function:linear; /**/ } 
@keyframes scroll{
    0%{ top: 0; opacity: 0;} 
    70% {top:40%; opacity: 1; }
    100% {top: 50%; opacity: 0; }
}
.main_vis  .scroll_tit{  color: #fff; }




/* main_con  */
.main_con{   }
.main_con .back_txt {max-width: 1200px; margin: 0 auto; padding: 50px 0; position: relative; padding: 50px 0;}
/* .main_con .back_txt *{ 
    transform: rotate(5deg) translateY(50%) ; opacity: 0;
} */
/* .main_con .ani{ 
    transform: rotate(5deg) translateY(50%) ; opacity: 0;
} */
.main_con .back_txt h2{ width: 100%; font-size: 150px; color: #eee; opacity: 0.8; letter-spacing: 0.05em; font-family: 'Londrina Shadow', cursive; }
.main_con .back_txt .txt_wrap{ position: absolute; top: 30%; right: 0;  overflow: hidden; }
.main_con .back_txt .txt_wrap h3{width: 40%; float: left; font-family: 'Poppins', sans-serif; font-weight: bold; font-size:30px; position: relative; text-align: left; }
.main_con .back_txt .txt_wrap h3::before{content:"";  width: 50px; height: 2px; background: #be161e; position: absolute; bottom: -10px; }
.main_con .back_txt .txt_wrap p{ width: 60%; float: right; line-height: 30px; text-align: left;} /**/

.main_con .pic_wrap {position: relative; overflow: hidden; padding: 50px 0 0;  height: 50vw;}
.main_con .pic_wrap h3{ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: 8vw; color: #eee; opacity: 0.9; letter-spacing: 0.05em; font-family: 'Londrina Shadow', cursive;  z-index: 2;}
.main_con .pic_wrap > div{ position: absolute; }
.main_con .pic_wrap > div >img{ width: 100%; height: 100%; object-fit: cover;}
.main_con .pic_wrap > div >video{ width: 100%; height: 100%; object-fit: cover;}
.main_con .pic_wrap  .img_wrap01{ width: 30vw; left: 4vw; height: 40vw;}
.main_con .pic_wrap  .img_wrap02{ width: 26vw; left: 38vw; height: 25vw; top: 8vw;}
.main_con .pic_wrap  .img_wrap03{ width: 28vw;right:4vw; height: 35vw; }



/* explain_area */
.explain_area {text-align: center; width: 520px; margin: 0 auto; position: relative; padding: 120px 0; }
.explain_area .bar01 { width: 1px; height: 1px; display: block; background: #222; position: absolute; left: 50%; top: -10px;  transform: translateX(-50%);  transition: 1s;}
.explain_area .bar01.on{ height:120px; }/*on*/
.explain_area .bar02 { width: 1px; height: 1px; display: block; background: #222; position: absolute; left: 50%; top: 85%;  transform: translateX(-50%);  transition: 1s; }
.explain_area .bar02.on{ height:120px; }/*on*/

.explain_area strong {display: block; font-size: 40px; font-weight: bold; }
.explain_area .txt { padding: 50px 0; line-height: 30px;}
.explain_area .more::before{ content:""; width: 0; height: 100%;position: absolute;top: 0; left: 0; transition: 0.5s; background:#be161e;  z-index: -1;}
.explain_area .more:hover::before { width: 100%; color:#fff; z-index: -1;} /**/
.explain_area .more { position: relative; display: inline-block; font-family: 'Montserrat', sans-serif; font-weight: bold; border:1px solid #858585; width: 55%;  text-align: center; padding: 20px 0; z-index: 5; }
.explain_area .more:hover{ border:1px solid #fff; color: #fff;}
.explain_area .more span { display:inline-block; width: 10px; height: 10px; background: #be161e; margin-right: 10px;}
.explain_area .more:hover span{ background: #fff;}
/* .explain_area .more * {position: relative; z-index: 1;} */



/* beef_area */
.beef_area { background: #000; color:#fff; padding: 100px 0; margin-top: 50px;}
.beef_area .beef_con { max-width: 1200px; margin: 0 auto; overflow: hidden;  }
.beef_area .txt_wrap {float: left; width: 50%; padding:0 5%; }
.beef_area .txt_wrap em { font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: bold;  color: #be161e; margin-left: 5px;}
.beef_area .txt_wrap strong { font-family:'Montserrat', sans-serif;  font-size: 50px; display: block;  font-weight: bold; position: relative; }
.beef_area .txt_wrap strong:before {content:"";  width: 50px; height: 2px; background: #be161e; position: absolute; bottom: -10px; left: 0;}
.beef_area .txt_wrap p { color: #999; font-weight: 300;  line-height: 25px; padding: 20px 0;}
.beef_area .txt_wrap p span {color:#eee; font-family:'Montserrat', sans-serif;  font-weight: 500; font-size: 20px; display: block;  padding-top: 10px; }
.beef_area .txt_wrap .more { display: inline-block; color: #be161e; padding:10px 15px;  margin: 20px 0; font-family:'Montserrat', sans-serif; font-weight: 500;  transition: background 1s, color 1s ; font-size: 14px; border:1px solid #666; }
.beef_area .txt_wrap .more:hover { background: #be161e; color: #fff;  }

.beef_area .img_wrap01 {float: right; width: 50%; padding-left: 5%;  }
.beef_area .img_wrap01 img { width: 100%; height: 100%; object-fit: cover; }
.beef_area .img_wrap02 { width:50%; height: 50%;  }
.beef_area .img_wrap02 img { width: 100%; height: 100%; object-fit: cover; }

/*  back_txt */
.back_txt {text-align: center;  }
.back_txt span { display: inline-block; font-size: 150px; color: #eee; letter-spacing: 0.05em; font-family: 'Londrina Shadow', cursive;  padding:50px 0; } /* */



/* academy_wrap */
.academy_wrap {overflow: hidden; padding-bottom:100px;}
.academy_wrap li {float: left; width:33.3%; position: relative; }

.academy_wrap li a {display: block; height: 100%; }
.academy_wrap li .video_wrap{ height: 450px; }
.academy_wrap li .video_wrap video{width: 100%; height: 100%; object-fit: cover;}
.academy_wrap li .txt_wrap{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; transition: 0.5s;  }
.academy_wrap li .txt_wrap .txt_inner { position: absolute; top: 50%; left: 0; transform:translateY(-50%); color: #fff; text-align: center; padding: 0 20px; }

.academy_wrap li:hover .txt_wrap{ background: rgba(0,0,0,0.8);}
.academy_wrap li:hover .txt_wrap p{ visibility: visible; max-height:200px; opacity: 1; } 

.academy_wrap li .txt_wrap h3{font-family: 'Montserrat', sans-serif; font-size: 25px;  line-height: 30px; font-weight: bold; }
.academy_wrap li .txt_wrap p { font-size: 14px; line-height: 20px; font-weight: 300; margin-top: 10px; transition: 0.5s; max-height: 0; opacity: 0; visibility: hidden; } /*트랜지션은 height: 0에서 텍스트로 가는 높이는 먹지않음 hight:auto 하면안먹음*/
.academy_wrap li .txt_wrap .more{font-family: 'Montserrat', sans-serif; display: inline-block; border-bottom:2px solid #be161e ; padding-bottom: 2px; margin-top: 10px; font-weight: 500;}


/* best_slide_wrap */
.best_wrapper{ overflow: hidden; position: relative;}
.best_wrapper::after{ content:""; width: 20%; height: 100%; position: absolute; top: 0; right: 0; 
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+1,1+100 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    }

.best_slide_wrap{ padding-top: 10px; white-space: nowrap;} /*white-space: nowrap; display: inline-block;*/
.best_slide_wrap .best_con{ width: 100vw; height: 600px; overflow: hidden; display: inline-block; }
.best_slide_wrap .best_con .txt_wrap{width: 50%;  float: left; display: flex; flex-direction: column;  justify-content: center; height: 100%; padding: 0 30px; white-space: normal;}
.best_slide_wrap .best_con .txt_wrap strong{ font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 45px ; display: block;  }
.best_slide_wrap .best_con .txt_wrap em{display: block; font-size: 18px; margin: 10px 0; font-weight: bold;}
.best_slide_wrap .best_con .txt_wrap p{color: #666; line-height: 30px; }
.best_slide_wrap .best_con .txt_wrap .more{width: 200px; height: 50px; font-family: 'Montserrat', sans-serif; font-weight: bold; display: block; margin-top: 100px;}
.best_slide_wrap .best_con .txt_wrap .more span{  width: 60px; height: 30px; display:inline-block; font-weight: bold; color: #be161e; transform: translateX(0px);  transition: 0.3s;}
.best_slide_wrap .best_con .txt_wrap .more:hover  span{  transform: translateX(50px);}
.best_slide_wrap .best_con .img_wrap{ width: 50%; float: right; }
.best_slide_wrap .best_con .img_wrap img{ width: 100%; height: 100%; object-fit: cover;}



/* membership */
.membership {overflow: hidden; padding:100px 0; position: relative;}
.membership .boomerang_wrap {  float: left; width: 50%; height: 600px; position: relative; padding-top: 50px; }
.membership .boomerang_wrap .img_wrap{ position: absolute; top: 10px; left: 10px;  width: 100px; height: 50px; transition-duration:3s; transition-timing-function: ease; }
.membership .boomerang_wrap .img_wrap.on{transform: rotate(360deg); }/*on*/

.membership .boomerang_wrap .img_wrap img{ width: 100%; height: 100%; object-fit: contain; }
.membership .boomerang_wrap .txt_wrap{ text-align: center;  }
.membership .boomerang_wrap .txt_wrap h3{ font-family: 'Montserrat', sans-serif; font-size: 40px;  line-height: 30px; font-weight: bold;}
.membership .boomerang_wrap .txt_wrap strong{display: block; line-height: 30px; padding-top: 20px;  font-size: 18px;}
.membership .boomerang_wrap .txt_wrap strong span{  font-size: 20px; color: #b59371;  font-weight: bold;}
.membership .boomerang_wrap .txt_wrap ul{ padding-top: 20px;}
.membership .boomerang_wrap .txt_wrap ul li{ margin-top: 40px;  font-weight: 500;}
.membership .boomerang_wrap .txt_wrap ul li span {position: relative;}
.membership .boomerang_wrap .txt_wrap ul li span::before{ content: attr(data-num);
    position: absolute; top: -30px; left:-55px; font-size: 60px; color:rgba(190, 22, 30,0.1); font-weight: 300;padding-left: 20px; font-family: 'Poppins', sans-serif;  }

.membership .pic_wrap{ float: right; width: 50%; height: 600px;}
.membership .pic_wrap img{ width: 100%; height: 100%; object-fit: cover; }