/*
  가장중요한 조건
  가로스롤은 절대 생기면 안된다.
  가로스크롤이 생기는이유는
  - 위드가 살이있는영역 ex)1200 1000px
  - absolute ->부모한테 무조건 overflow hidden을 줘야됨
  모바일 확인은 최고 작은 사이즈인 320 (크롬모바일 아이폰se) 확인시 잘나오묜 끝.
 */

/* 실콘텐츠 + 100 */
/* 1300 */

@media screen and (max-width: 1300px) { /*작은사이즈px 0~1300*/
    /* header */
    

    /* main */
    .main_vis .scroll_wrap {left:30%;}
    .main_vis .scroll_tit {margin-left: 40px;}

    .main_con .back_txt .txt_wrap {padding: 0px 50px;}

    .beef_area .beef_con {padding: 0 50px;}
    .beef_area .txt_wrap{padding-left: 0;}

    .membership{padding: 100px 50px;}
    .membership .boomerang_wrap {padding-right: 20px;}
    .membership .boomerang_wrap .txt_wrap h3 { line-height: 38px;}



    /* footer */
    footer .foot_con {padding: 0 50px;}
    .foot_con .foot_link { padding-left: 50px;}
  
  
   } /*   //  1300px */












  /*
  테블릿
  중대적인 레이아웃 변화
  폰트사이즈 줄여준다 아래와같은룰로
  */
  @media screen and (max-width: 1024px) { /*769사이즈로보기*/
    
    /* header */
    header{overflow: hidden;}
    .header { padding: 10px 30px; overflow: hidden;}
    header .menu_nav {overflow: hidden;}
    header .menu_con .menu_list {font-size: 33px;}
    header .menu_con .sns_wrap li {padding: 5px 0 20px 50px;
    } 
    

    /* main */
    /* main_slide_wrap */
    .main_vis .swiper-slide .txt_wrap {top: 30%; left:50%; right:auto; transform: translateX(-50%); width: 95%;}
    .main_vis .swiper-slide .txt_wrap em{font-size: 38px;}
    .main_vis .swiper-slide .txt_wrap p {font-size: 15px; line-height: 25px;}
    .main_vis .swiper-slide .price_wrap{padding: 30px 20px 30px 20px;}
    .main_vis .swiper-slide .price_wrap strong {font-size: 15px;}
    .main_vis .swiper-slide .price_wrap em {margin-bottom: 5px; line-height: 20px;}
    .main_vis .scroll_box {display: none;}
    .main_vis .btn_wrap{ visibility: hidden; }

    .main_vis .swiper-pagination {bottom: 20px; right:0; } /*오른쪽으로 안보내짐*/
    .main_vis .swiper-pagination-bullet{ visibility: visible; width: 12px; height: 12px; background: transparent; border: 1px solid #be161e; opacity: 1; 
    }
    .main_vis .swiper-pagination-bullet-active { width: 30px; transition: width 0.5s; border-radius: 5px; background: #be161e; border: 1px solid transparent;}
    
    /*main_con  */
    .main_con .back_txt .txt_wrap {padding: 0px 20px;}
    .main_con .back_txt .txt_wrap h3 {line-height: 40px;}
    .main_con .back_txt .txt_wrap p{ font-size: 14px;}
    .main_con .pic_wrap h3 {font-size: 10vw;}
    .main_con .pic_wrap .img_wrap02 {width: 29vw; left: 35vw; top: 12vw;}

    /* explain_area */
    .explain_area strong {font-size: 35px;}
    .explain_area .txt {font-size: 15px;}

    /* beef_area */
    .beef_area .beef_con {padding: 0 20px;}
    .beef_area .txt_wrap {padding-right: 0; width: 100%; text-align: center;}
    .beef_area .txt_wrap em{font-size: 13px; display: block;}
    .beef_area .txt_wrap strong{font-size: 38px; padding-top: 5px; display:inline-block; }
    .beef_area .txt_wrap strong:before { }
    .beef_area .txt_wrap p {font-size: 14px; width: 70%; margin: 0 auto;}
    .beef_area .txt_wrap p span{font-size: 16px;}
    .beef_area .beef_con {overflow: hidden;}
    .beef_area .img_wrap01 { float: left; padding-left:0; padding-right: 10px; height: 300px;} 
    .beef_area .img_wrap02 { float: right; height: 300px;}

    /*back_txt */
    .back_txt span { font-size: 100px;  padding: 20px 0}

    /*academy_wrap  */
    .academy_wrap {padding-bottom: 50px;}
    .academy_wrap li { width: 100%;}
    .academy_wrap li .txt_wrap .txt_inner {width: 100%;}

    /*best_slide_wrap  */
    .best_slide_wrap .best_con {height:400px;}
    .best_slide_wrap .best_con .txt_wrap {padding: 0 20px;}
    .best_slide_wrap .best_con .txt_wrap strong {font-size: 40px;}

    /* membership */
    .membership {padding: 50px 20px;}
    .membership .boomerang_wrap {width: 100%; height:auto; float: none; margin-top: 20px;}
    .membership .pic_wrap {width: 100%; height:400px; float: none;}

    /* footer */
    footer{    padding-top: 50px;}
    footer .foot_con {padding: 0 20px;}
    footer .foot_con h2 {width: 100%; background-size: 107px 41px; margin-bottom: 20px;}
    .foot_con .foot_link {float: none; padding-left: 0; text-align: center; margin-top: 50px;}
    .foot_con .foot_link li:hover::before {content:none; }
    .foot_con .info {float: none;  text-align: center;  margin-top: 50px;}
    .foot_con .info .foot_sns {text-align: center; display: inline-block;} 
    footer .foot_nav li {width: 50%;}
    footer .foot_nav li:nth-child(2n) {width: calc( 50% + 2px);}


  } /*   //  1024px */
  







  /*
   모바일
   *대대적 레이아웃 변화
   사이드 패딩 10~15
   대폰트 font-size: 38~28
   중폰트 18~28
   소폰트 12~ 16
   웬만한 레이아웃은 1줄 아니면 2줄

   320기준으로
  */
  @media screen and (max-width: 768px) { /*320기준으로포커스맞추기*/
    
      /* header */
      .header { padding: 10px 10px; }
      .header h1 {width: 90px; margin-top: 10px;}
      .header .user_nav { }
      .header .login_area { font-size: 12px; }
      .header .login_area li {margin-right: 10px;} 
      .header .gnb .menu_btn {margin-left: 5px;}
      .header .gnb .menu_btn::before { content: none;}
      .header .gnb .menu_btn i { height: 2px;}
      

      header .menu_con {width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); padding: 0 10px;}
      header .menu_con .menu_list {width: 100%; text-align: center; font-size: 20px;}
      header .menu_con .sns_wrap {text-align: center; float: none;  }
      header .menu_con .sns_wrap li{ display: inline-block; padding: 0; 
      width: 40px; height: 40px; margin-right: 10px; margin-top: 30px;} 
      header .menu_con .sns_wrap li:last-child{margin-right: 0;}
      header .menu_con .sns_wrap li img{width: 100%; height: 100%;object-fit: cover; border-radius: 50px;}

  
      /* main */
      /* main_slide_wrap */
      .main_vis .swiper-slide .txt_wrap h2 {font-size: 12px;}
      .main_vis .swiper-slide .txt_wrap em {font-size: 30px;}
      .main_vis .swiper-slide .txt_wrap p {font-size: 12px; line-height: 20px;}

      .main_vis .swiper-slide .price_wrap {width: 100%;  padding: 10px 10px 80px 10px;}
      .main_vis .swiper-slide .price_wrap em {font-size: 12px;}
      .main_vis .swiper-slide .price_wrap strong {font-size: 12px;}
      .main_vis .swiper-slide .price_wrap strong span {font-size: 14px;}

      .main_vis .swiper-pagination {bottom: 20px;}


      /*main_con  */
      .main_con { overflow: hidden; width: 100%; }
      .main_con .back_txt {overflow: hidden; position: relative; height: 350px;}
      .main_con .back_txt h2 {position: absolute; top: 0; left: 10px; font-size: 80px; }
      /*가운데로 정렬이안됨..*/
      .main_con .back_txt .txt_wrap {left: 10px; top:70px; width: 100%; padding: 0 10px; }
      .main_con .back_txt .txt_wrap h3 {width: 100%; float:none;  font-size: 20px; }
      .main_con .back_txt .txt_wrap h3::before {height: 1px; bottom: 5px; }
      .main_con .back_txt .txt_wrap p {width: 100%; float:none; text-align: center; font-size: 12px;line-height: 25px; text-align: justify;}

      .main_con .pic_wrap {width: 100%; height:auto; padding: 20px 0 50px 0;}
      .main_con .pic_wrap h3 {font-size: 20vw;}
      .main_con .pic_wrap .img_wrap01{position: static; width: 100%; left: auto; height:300px;}
      .main_con .pic_wrap .img_wrap02{position: static; width: 100%; left: auto; top:auto; height:300px;}
      .main_con .pic_wrap .img_wrap03{position: static; width: 100%; right:auto; height:300px;}


      /* explain_area */
      .explain_area {width:100%; padding: 120px 10px; overflow: hidden;}
      .explain_area strong {font-size: 25px;}
      .explain_area .txt {width:100%; padding-top: 20px; font-size: 13px; line-height: 25px; text-align: center; padding-left: 10px;}

      .explain_area .more{ font-size: 13px; width: 75%; padding: 15px 0;}
      
      /* beef_area */
      .beef_area .beef_con {}
      .beef_area .txt_wrap strong {font-size:30px; }
      .beef_area .txt_wrap p {width: 100%; font-size: 13px;}
      .beef_area .txt_wrap p span {font-size: 15px; }
      .beef_area .img_wrap01 { width: 100%; padding-right: 0;}
      .beef_area .img_wrap02 {float:left; width: 100%;}
      .beef_area .txt_wrap .more {font-size: 12px; margin-top: 0;}
      
      /*back_txt */
      .back_txt span {font-size: 50px;}

      /*academy_wrap  */
  
      /*best_slide_wrap  */
      .best_slide_wrap .best_con { height:calc(100vh - 70px)  ;}
      .best_slide_wrap .best_con .txt_wrap {width: 100%;
        height: 50%;
        padding: 0 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;}
      .best_slide_wrap .best_con .txt_wrap strong {font-size: 16px;}
      .best_slide_wrap .best_con .txt_wrap em {font-size: 14px; margin: 10px 0;}
      .best_slide_wrap .best_con .txt_wrap p {line-height: 20px; font-size: 13px;}
      .best_slide_wrap .best_con .txt_wrap .more { font-size: 13px; margin-top: 70px;}
      .best_slide_wrap .best_con .txt_wrap .more span {font-size: 13px;}
      .best_slide_wrap .best_con .img_wrap{ width: 100%; height: 50%; }


      /* membership */
    .membership {padding: 50px 10px;}
    .membership .boomerang_wrap{ padding: 0; padding-top: 30px;}
    .membership .boomerang_wrap .img_wrap{width: 30px; top: 0; left: 0;}
    .membership .boomerang_wrap .txt_wrap {width: 100%;}
    .membership .boomerang_wrap .txt_wrap h3 {font-size: 20px;}
    .membership .boomerang_wrap .txt_wrap strong {line-height: 25px;padding-top: 10px;
      font-size: 13px; font-weight: 500;}
    .membership .boomerang_wrap .txt_wrap strong span {font-size: 15px;}
    .membership .boomerang_wrap .txt_wrap ul {padding-top: 0px;}
    .membership .boomerang_wrap .txt_wrap ul li {margin-top: 10px; font-size: 12px; line-height: 25px; font-weight:400;}
    .membership .boomerang_wrap .txt_wrap ul li span::before{top: -12px; left: -35px;font-size: 28px; }
    
      /* footer */
    footer .foot_con {padding: 0 10px;}
    .foot_con .foot_link {margin-top: 0;}
    .foot_con .foot_link li { line-height: 25px; font-size: 14px;}
    .foot_con .info {margin-top: 30px;}
    .foot_con .info .tel {line-height: 25px; font-size: 13px;}
    .foot_con .info .tel a {font-size: 15px;}
    .foot_con .info .copy {font-size: 12px; padding-top: 30px;}

    footer .foot_nav {padding-top: 20px;font-size: 13px;}
    footer .foot_nav li {width: 100%; margin-left: 0px; margin-top: -1px; padding: 15px 0;}
    footer .foot_nav li:nth-child(2n) {width: 100%;}
    footer .foot_nav li:last-child {margin-bottom: 1px;}





  }/*   //  768px */