/* moblie */
.clear{
    content:"";
    clear: both;
    display: block;
}

.blind {
    width: 1px; height: 1px;
    margin: -1px;
    position:absolute;;
    overflow: hidden;
    clip:rect(0,0,0,0);
}

.inner{ padding: 0 20px;}