/* moblie */
/* body */
body{
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Noto Sans KR', sans-serif;
    font-size:16px;
    letter-spacing :-0.025em; ;
    color: #333;
    min-width: 320px;
    background: #fff;
}

/* header */
header { position: fixed; top: 0; left: 0; width: 100%; z-index: 10; }
.notice_area{width: 100%;  background: #222; color:#fff; font-size: 12px; 
    line-height: 25px; } /*z-index*/
.notice_area .txt_wrap{padding:5px 20px; overflow: hidden; }
.notice_area .txt_wrap p{ float: left; opacity: 0.7;}
.notice_area .txt_wrap a{ float: right; color:#fff; display: block; }
.notice_area .txt_wrap i{vertical-align: middle;}

.user_nav{  border:1px solid rgba(253,253,253,.5); color:#fff; } 
.user_nav .gnb_area{ position: relative; height:60px;  }

.user_nav .gnb_wrap { position: absolute; top:0; left: 0; width: 65px;  height:60px;  padding: 20px; border-right:1px solid rgba(253,253,253,.5); }
.user_nav .gnb_wrap .menu_btn{ }
.user_nav .gnb_wrap .menu_btn i {display: block; width: 30px; height: 3px; background: #fff; margin-bottom: 5px; transition: background 1s ,width 0.5s; }
.user_nav .gnb_wrap .menu_btn i:nth-child(2){width: 23px;}
.user_nav .gnb_wrap .menu_btn i:nth-child(3){width: 15px;}
.user_nav .gnb_wrap .menu_btn:hover i{ width: 30px; }
.user_nav .gnb_wrap .menu_btn:hover i:nth-child(1){ width: 15px; }
.user_nav .gnb_wrap .menu_btn:hover i:nth-child(2){ width: 23px; }

.user_nav h1{width:100px; height: 30px; background: url(../images/logo.png) no-repeat;  position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); background-position: center center;  background-size: 100%;}
.user_nav h1 a{display: block; height: 100%; }

.user_nav .search_wrap{ position: absolute; top: 0;right: 0; width: 65px;  height: 60px; text-align: center; border-left:1px solid rgba(253,253,253,.5); }
.user_nav .search_wrap .search_btn { width: 100%; height: 100%; display: block; font-weight: bold; font-size: 18px; line-height: 62px;}
.user_nav .search_wrap .search_btn.on{ }

.user_nav form{ position: absolute; top: 80px; width: 100%;transform: translateX(100%); transition: transform 0.5s; } 
.user_nav form.on{width:100%; transform: translateX(0%);  }
.user_nav input{ position: relative; border: 0; width: 100%; height:30px; padding:20px 20px; border-radius: 10px; outline-style: none;  background:#fff;   }
.user_nav button{  position: absolute; top: 50%; right: 20px; transform: translateY(-50%); font-weight: bold; color: #000; cursor: pointer; background:transparent; border:0; }

.menu_nav { position: fixed; top:0px; left:-100%;  background: #eee; width: 100%; height: 100vh;  z-index: 3;  }/*z-index*/
.menu_nav .menu_head{ border-bottom: 1px solid #999; font-size: 50px; padding:5px 15px; }
.menu_nav .menu_head .close{ font-size: 30px;}
.menu_nav .menu_head i{}
.menu_nav .menu_list {}
.menu_nav .menu_list > li {position: relative; font-size: 28px;padding:20px 40px; border-bottom: 1px solid #d4d4d4; font-weight: 500;}
.menu_nav .menu_list > li > a { display: block;}
.menu_nav .menu_list > li > a::before { content: attr(data-num); position: absolute; top: 11px; left: 7px;  font-size: 12px; color: #50b947; font-weight: 300; padding-left: 20px;   }
.menu_nav .menu_list > li >a >i {position: absolute; top: 50%;  right: 20px; transform: translateY(-50%); }

.menu_nav, .nav_sub01, .nav_sub02, .nav_sub03, .nav_sub04 {   } /* display: none; */

.menu_com {position: fixed; top: 0px; right:-100%; width: 100%; height: 100vh; background: #eee; }
/* menu_com은 .nav_sub의공통클래스*/
/*공통헤드부분*/
.menu_com .menu_head{  border-bottom: 1px solid #999; line-height: 50px; font-size: 20px; padding:5px 20px; overflow: hidden;  } 
.menu_com .menu_head .side_btn{display: block;  float: left;}
.menu_com .menu_head h2{ float: right; opacity: 0.5; font-weight: 500;}

.nav_sub01 {z-index: 4; }  /*z-index*/
.nav_sub01 .gnb {}
.nav_sub01 .gnb li {padding:20px 0;}
.nav_sub01 .gnb>li{ padding:25px 20px; position: relative; border-bottom: 1px solid #d4d4d4; }
.nav_sub01 .gnb>li>a{display: block;  font-size: 20px; font-weight: 500; }
.nav_sub01 .gnb>li>a.arrow .bottom_btn{ transform: rotate(180deg);}
.nav_sub01 .gnb>li .bottom_btn{position: absolute; right: 20px; transform: rotate(45deg); transition: 0.3s; }

.nav_sub01 .gnb>li .sub {height:0; overflow: hidden;}
.nav_sub01 .gnb>li .sub ul{ padding: 20px 0;}
.nav_sub01 .gnb>li .sub ul li{ font-size: 15px; padding:12px 0; opacity: 0.7;}
.nav_sub01 .more{ display:block; text-align: center;  height: 50px; border-radius: 4px; color:#fff; background: #50b947; margin:20px 20px; line-height: 50px; font-size: 18px;} 
.nav_sub02 { z-index: 4; }
.menu_com .list_area {}
.menu_com .list_area li{position: relative; overflow: hidden; border-bottom: 1px solid #d4d4d4 ; padding:10px 20px 10px 140px; height: 98px;}
.menu_com .list_area li a{}
.menu_com .list_area li .img_wrap{width: 120px; height: 77px; float: left; position: absolute; top: 10px; left: 20px;}
.menu_com .list_area li .img_wrap img{ width: 100%; height: 100%; object-fit: cover;}
.menu_com .list_area li h3{  padding: 5px 0; padding-left: 20px;font-size: 20px; font-weight: 500;}
.menu_com .list_area li p{  padding-left: 20px;font-size: 14px; color: #858585; font-weight: 300; line-height: 16px; height: 32px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box;     -webkit-line-clamp: 2;  -webkit-box-orient: vertical;}

.nav_sub03{ z-index: 5; }
.nav_sub04{z-index: 6;  }

/* 스크롤시 변환 */
header.on .user_nav {background: rgba(255,255,255,0.5); top: 0px; backdrop-filter: blur(12px); }
header.on  .user_nav .gnb_wrap .menu_btn i { background: #000;}
header.on  .user_nav .search_wrap .search_btn {color: #000;}




/* footer */
footer{background: #fff; text-align: center; color: #858585; border-top:1px solid #cfcfcf; font-size: 14px;}
footer h2{ width: 100%; height: 50px; background:#fff url(../images/f_logo.png) no-repeat; background-position: center center; padding: 50px 0;}
footer h2 a{display: block; height: 100%;}
footer ul{padding: 10px 0; line-height: 25px; }
footer ul li{}
footer ul li a{}
footer .info{ ; font-weight: bold; font-size: 16px;}
footer .info strong{display: block; padding: 20px 0; font-size:18px; font-family: 'Montserrat', sans-serif; }
footer .info .mail{display: block;  }
footer .info .link{display: block;padding: 10px 0; color: #50b947; font-family: 'Montserrat', sans-serif; }
footer .info .link i{vertical-align: middle; color: #50b947; }
footer .info .link:hover{ }
footer .info .tel{}
footer .info .tel:hover{ text-decoration: underline; color: #50b947; }

footer .copy{padding: 30px 0; line-height: 30px;  font-family: 'Montserrat', sans-serif;} 
footer .copy{padding: 30px 0;   }
footer .copy>a{  text-decoration: underline; }
footer .copy>a:hover{color: #f0f;}

/* 맨위 버튼 */
.the_top_btn { width: 30px; height: 30px; display:inline-block; background: #fff; border-radius: 50%; margin-bottom: 50px;}
.the_top_btn i{ color: #000; font-size: 30px; }
